{:kotoba.app/id "cloud.itonami.isic-6611-cryptoexchange", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifysw4woqevp3dnkfmaosquswdplujg5s2knvkfzy3c26drjuf62a", :kotoba.app/embed-url "ipfs://bafkreifysw4woqevp3dnkfmaosquswdplujg5s2knvkfzy3c26drjuf62a", :published {:archive "https://kotobase.net/ipfs/bafkreifysw4woqevp3dnkfmaosquswdplujg5s2knvkfzy3c26drjuf62a", :size 72006, :put-status 201, :get-status 200, :at "2026-08-15T13:39:59.962Z"}}
